.background{
  background-image: url("/assets/homeMovies.jpg");
  height: 100%;
  min-height: 625px;
  filter: blur(2px);
  -webkit-filter: blur(2px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}
@media only screen and (max-width: 1000px) {
  .bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid white;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -65%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
  }
}

@media only screen and (max-width: 400px) {
  .bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid white;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -75%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
  }
}

